/* Reset default styles and set some basic styling */

/*
    * universal css
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*
    * body generic css
*/
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    /* position: relative; */
    /* display: flex;
    flex-direction: column; */
}


/*
    * css for the header
*/
header {
    background-color: gold;
    color: darkblue;
    text-align: center;
    padding: 10px;
}

header a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

header h1 {
    font-size: 36px;
    margin: 0;
}


/*
    * styling for navigation
*/
.navbar{
    background: darkblue;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.05rem;
}


/*
    * generic main page styling
*/
main {
    padding: 20px 5.5rem;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(161, 165, 145);
}


/*
    * button styled
*/
#home button{
    width: 150px;
    padding: 10px 20px;
    transition: .3s;
    cursor: pointer;
    transition: .3s ease-in-out;
    font-weight: bold;
}

#home button:hover{
    transform: translateY(-5px);

}


/*
    * sections styling
*/
#section1, #section2, #section3{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
}


/*
    * generic image styling
*/
.img-wrapper{
    border: 5px solid rgb(161, 165, 145);
    border-radius: 10px;
    margin-right: 30px;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    height: 300px;
    overflow: hidden !important;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}

.text-content h2{
    font-size: 2.2rem;
}

.text-content p{
    padding: 40px 0;
    font-size: 1.2rem;
}


/**
**  css for leadership board
**/
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    color: #ffffff;
}

.h1{
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

th {
    background-color: navy;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: rgb(64, 64, 139);
}

tr:nth-child(even) {
    background-color: navy;
}

tr:hover {
    background-color: #5e4984;
}

/**
**  styling for css
**/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
} 


